        <div class="row">
            <hr>
            <div class="col-md-12 text-center">
                <p><a href ="https://github.com/startinmerc"><strong>STRANGE INDUSTRIES</strong></a></p>
            </div>
        </div>
    </div>
    </body>
</html>