body { 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(http://i.imgur.com/K3mPv14.jpg);
  background-attachment: fixed;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    background-color: white;
    background-color: rgba(255,255,255,0.8);
}

.index-img img:hover {
    border-radius: 50%;
    transition-duration: 1s;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.navbar-brand {
    font-size: 1.5em;
}

.jumbotron {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
}